#!/usr/bin/python
# -*- coding: utf-8 -*-

import os

# Ports & URLs
NODERED = "http://127.0.0.1:1880"												#wohin wird die nodered anfrage geschickt

# Pfade
INFPATH = os.path.dirname(os.path.realpath(__file__)) +"/info"					#da wo die info txt files liegen
JCERT = os.path.dirname(os.path.realpath(__file__)) +"/xmpp.pem"				#Jabber Certificate
CACPATH = os.path.dirname(os.path.realpath(__file__)) +"/cache"					#für tmp files und config files

# Jabber Daten
JUSER = "bot@jabber.space.bi"													#bot anmeldename
JNICK = "HSBot"																	#Bot anzeigename
JPASS = ""														#bot Passwort
JROOM = "hsb@chat.jabber.space.bi"												#bot raum

#Telegram Daten
TOKEN = ""							#Telegram Bot Token
TFILE = os.path.dirname(os.path.realpath(__file__)) +"/cache/telegram-follower"	#eingetragene follower bei telegram

#MQTT Daten
MQTTSRV = "172.23.45.5"															#mqtt server
MQTTTOPI = "hsbot/chat"																#mqtt chat topic
MQTTTOPT = "hsbot/toast"																#mqtt toast topic
MQTTTOPTOUT = "toasted"															#mqtt toast ausgabe
MQTTDEBU = "debug/hsbot"																#mqtt debug topic

# GPIO Daten
INPINS = [8,10,11,12,13,15,16,18,21,22,23,24,26]
OUTPINS = []

VERSION = "1.0.3 Build 0146-B"																#versionsnummer
SUPPORT = "electronicfreak"
